<div class="actionarea">
</div>
<form>



        <table width="790" style=" text-align:left; margin:auto">
            <tbody><tr align="center">
                <td>                    
                
        <table border="0" cellpadding="2" cellspacing="2" bgcolor="#f9f9f9" width="100%" style="border: thin solid;">
            <tbody><tr>
                <td height="94" align="center">
                    <div id="Panel14">
	

<div id="panel" tabindex="5" style="">
<form>
            <div id="updateP1">
		
                    <table width="100%" border="0" cellpadding="2" cellspacing="5" style="font-size: 8pt; font-family: Verdana;">
                        <tbody><tr>
                            <td colspan="4">
                                <table style="font-size: 8pt; font-family: Verdana;" width="100%">
                                    <tbody><tr>
                                        <td width="7%">
                                            <strong>
                                            REFEREES</strong></td>
                                        <td width="79%" align="right">&nbsp;</td>
                                        <td width="14%"><a id="" href="#index">Home Page</a></td>
                                    </tr>
                                </tbody></table>
                </td>
                        </tr>
                        <tr style="font-size: 8pt;">
                            <td width="118" style="height: 30px;">
                                Name </td>
                            <td colspan="2" style="width: 247px; height: 30px;"><input name="ref_fullname" maxlength="50" id="ref_fullname" tabindex="73" style="width:248px;" class="textbox" type="text"><span id="RequiredFieldValidator3" style="color: White; visibility: hidden;">*</span></td>
                            <td width="592" style="color: rgb(0, 0, 0); height: 30px;"><span id="display_message" style="display:none" onclick="calldialog(&#39;display_message&#39;);" title="User Details"></span></td>
                        </tr>
                        <tr style="font-size: 8pt; color: rgb(0, 0, 0);">
                            <td style="height: 30px;">Phone Number</td>
                            <td colspan="2" style="width: 247px; height: 30px;"><input style="width:248px;" name="ref_phone" maxlength="50" id="ref_phone" class="textbox" type="text"></td>
                            <td rowspan="3" style="color: rgb(0, 0, 0); height: 30px;">*All fields in this section are required. Click the Save/Add button to save your record. Repeat this process if you need to add more than one record.</td>
                        </tr>
                        <tr style="font-size: 8pt; color: rgb(0, 0, 0);">
                          <td style="height: 30px;">&nbsp;</td>
                          <td colspan="2" style="width: 247px; height: 30px;">&nbsp;</td>
                        </tr>
                        <tr style="font-size: 8pt; color: rgb(0, 0, 0);">
                          <td style="height: 30px;">Address</td>
                          <td colspan="2" style="width: 247px; height: 30px;"><textarea name="ref_address" rows="2" cols="20" id="ref_address" class="textbox" style=" height: 108px; width: 248px;"></textarea></td>
                        </tr>
                        <tr style="font-size: 8pt;">
                            <td colspan="4">
                            </td>
                        </tr>
                        <tr style="font-size: 8pt;">
                            <td>
                            </td>
                            <td width="223" style="width: 247px;">
                            </td>
                            <td colspan="2">
                            </td>
                        </tr>
                    </tbody></table>
                
</div>
                          <table style="font-size: 8pt; font-family: Verdana;" width="100%">
                <tbody><tr>
                    <td align="center" valign="middle">
                    <span class="submit">
                        &nbsp;<input type="submit" name="SubmitBtn" id="SubmitBtn" value="Update" >
                    &nbsp;&nbsp;
				   
                    </span>
                    	<span id="operation" style="display:none;">new</span>
                    </td>
                </tr>
                  <tr>
                    <td height="8" align="center"><div style="border-bottom:thin dotted #333; height:8px">&nbsp;</div></td>
                  </tr>
                  <tr>
                    <td valign="middle">
                    
                    
                    <div id="Panel10" style="border-width: 0px; padding:0px; min-height: 188px; width: 760px; text-align: center;">
                    
                                                     <style type="text/css">
<!--
.style1 {color: #990000}
-->
                    </style>
<div id="branch_div" align="center" style="width:98%; margin:auto; margin-bottom:10px; border:solid 1px #ccc;">
  <div id="print_div">
    <table width="100%" border="0" cellpadding="4" cellspacing="1">
        <thead>
          <tr class="">
            
                <th width="36" nowrap="nowrap" class="Odd">S/N</th>
                <th width="143" nowrap="nowrap" class="Odd">Name</th>
                <th width="119" nowrap="nowrap" class="Odd">Phone</th>
                <th width="208" nowrap="nowrap" class="Odd">Address</th>
                <th width="115" nowrap="nowrap" class="Odd">created</th>
                
                <th width="66" nowrap="nowrap">&nbsp;</th>
          </tr>
        </thead>
            </table>
  </div>



</div>
        
        
        
        
        
        
        
        
        
        
	</div>
                    
                </td></tr></tbody></table></form></div></div>
               </td>
            </tr>
            <tr><td height="8" align="center"><div style="border-bottom:thin dotted #333; height:8px">&nbsp;</div></td></tr>
       
       <tr><td bgcolor="#333333">&nbsp;&nbsp;</td></tr>
        </tbody></table>
                    &nbsp;&nbsp;
                     
                </td>
            </tr>
            <tr>
                <td height="8" align="center"><div style="border-bottom:thin dotted #333; height:8px">&nbsp;</div>            </td>
            </tr>
        </tbody></table>
     
</form>



<ul class="referee_list" />